*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: white;
}
p {
    margin: 20px;
}
p.featureWording {
    margin: 0.5em 1em;
}
h1 {
    font-size: 2em;
    color: white;
}
div.pageContainer {
    max-width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
div.header {
    height: 50px;
    width: 100%;
    background-color: #93a9a8;
    display: flex;
    justify-content: center;
}
div.featureContainer {
    width: 100%;
    background-color: #EFEFdf;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
div.feature {
    margin: 2em;
    width: 180px;
    background-color: #4f3202;
    color: white;
}

/* Media Query Start */
@media (min-width: 600px) {
    .c2, .c3, .c4, .c5 {
      width: 50%;
    }
  }
  
  @media (min-width: 800px) {
    .c1 {
      width: 60%;
    }
    .c2 {
      width: 40%;
    }
    .c3, .c4 {
      width: 33%;
    }
    .c5 {
      width: 34%;
    }
  }

/* Media Query End */